<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgHilQyjFbKgVe43NfWTXZ1fXHj643eKY</string>
	<key>GCM_SENDER_ID</key>
	<string>41211540830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tewosmobileapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tewos-yene-mekina</string>
	<key>STORAGE_BUCKET</key>
	<string>tewos-yene-mekina.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41211540830:ios:019389a9f236c168034bcf</string>
</dict>
</plist>